In [2]:
import pandas as pd
import re
from urllib import parse

In [3]:
with open('logs.txt','r') as f:
    logs=f.readlines()

In [4]:
len(logs)

24284

In [6]:
df=pd.DataFrame([i.split() for i in logs],columns=['api_name','sep','date','time','hash','TYPE','customer','url'])
df.drop(columns=['sep'],inplace=True)

#df=df.join(df.url.str.split('/',expand=True))
df

,api_name,date,time,hash,TYPE,customer,url
0,shop_api,2018-08-01,00:01:35,[YQ4WUDJV],INFO:,121.165.118.201,https://all_to_the_bottom.com/
1,shop_api,2018-08-01,00:01:47,[E522JAEQ],INFO:,121.165.118.201,https://all_to_the_bottom.com/fresh_fish/
2,shop_api,2018-08-01,00:03:02,[BHWP66G8],INFO:,121.165.118.201,https://all_to_the_bottom.com/
3,shop_api,2018-08-01,00:04:27,[C0182Y6W],INFO:,121.165.118.201,https://all_to_the_bottom.com/canned_food/
4,shop_api,2018-08-01,00:05:55,[OJKTKNP6],INFO:,121.165.118.201,https://all_to_the_bottom.com/
...,...,...,...,...,...,...,...
24279,shop_api,2018-08-14,09:52:25,[9SDDN7VV],INFO:,147.144.255.18,https://all_to_the_bottom.com/
24280,shop_api,2018-08-14,09:53:06,[PANSGPA1],INFO:,147.144.255.18,https://all_to_the_bottom.com/canned_food/
24281,shop_api,2018-08-14,09:53:56,[QBV4IHFK],INFO:,147.144.255.18,https://all_to_the_bottom.com/canned_food/pate...
24282,shop_api,2018-08-14,09:53:56,[ZLZ4QXWB],INFO:,147.144.255.18,https://all_to_the_bottom.com/pay?user_id=8141...
24283,shop_api,2018-08-14,09:53:56,[2O1CTP7M],INFO:,147.144.255.18,https://all_to_the_bottom.com/success_pay_9790/

In [226]:
api_name,_,date,time,hashcode,TYPE,customer,url=logs[0].split()

In [228]:
api_name,date,time,hashcode,TYPE,customer,url

('shop_api',
 '2018-08-01',
 '00:01:35',
 '[YQ4WUDJV]',
 'INFO:',
 '121.165.118.201',
 'https://all_to_the_bottom.com/')

In [248]:
parse.parse_qs(urlsplit('https://all_to_the_bottom.com/pay?user_id=81270149216&cart_id=8642').query)

{'user_id': ['81270149216'], 'cart_id': ['8642']}

In [241]:
urlsplit('https://all_to_the_bottom.com/pay?user_id=81270149216&cart_id=8642').query

'user_id=81270149216&cart_id=8642'

In [51]:
df[4].unique()

array([None, '', 'sprats', 'pate_of_tuna', 'black_caviar', 'pike',
       'shark', 'salmon', 'midii', 'crab_meat', 'peljad', 'codfish',
       'crucian', 'stuffing_eel', 'soup_set', 'tuna', 'marlene',
       'herring', 'squid_rings', 'squash_caviar', 'red_caviar', 'smelt',
       'salmon_cutlet', 'eel', 'carp'], dtype=object)

In [171]:
t=df.url.str.find()
t.tail(40)

,0,1,2,3,4,5,6
24244,https:/,https,all_to_the_bottom.com,/canned_food/,/canned_food,midii/,
24245,https:/,https,all_to_the_bottom.com,/,NaN,cart,?goods_id=20&amount=1&cart_id=9788
24246,https:/,https,all_to_the_bottom.com,/,NaN,caviar/,
24247,https:/,https,all_to_the_bottom.com,/fresh_fish/,/fresh_fish,salmon/,
24248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24249,https:/,https,all_to_the_bottom.com,/,NaN,caviar/,
24250,https:/,https,all_to_the_bottom.com,/caviar/,/caviar,red_caviar/,
24251,https:/,https,all_to_the_bottom.com,/,NaN,cart,?goods_id=3&amount=1&cart_id=9787
24252,https:/,https,all_to_the_bottom.com,/,NaN,fresh_fish/,
24253,https:/,https,all_to_the_bottom.com,/,NaN,semi_manufactures/,
24254,https:/,https,all_to_the_bottom.com,/semi_manufactures/,/semi_manufactures,salmon_cutlet/,
24255,https:/,https,all_to_the_bottom.com,/,NaN,semi_manufactures/,
24256,https:/,https,all_to_the_bottom.com,/,NaN,semi_manufactures/,
24257,https:/,https,all_to_the_bottom.com,/,NaN,fresh_fish/,
24258,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24259,https:/,https,all_to_the_bottom.com,/,NaN,fresh_fish/,
24260,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24261,https:/,https,all_to_the_bottom.com,/semi_manufactures/,/semi_manufactures,salmon_cutlet/,
24262,https:/,https,all_to_the_bottom.com,/,NaN,pay,?user_id=85772286583&cart_id=9788
24263,https:/,https,all_to_the_bottom.com,/,NaN,success_pay_9788/,
24264,https:/,https,all_to_the_bottom.com,/,NaN,fresh_fish/,
24265,https:/,https,all_to_the_bottom.com,/,NaN,pay,?user_id=83176132815&cart_id=9787
24266,https:/,https,all_to_the_bottom.com,/,NaN,success_pay_9787/,
24267,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24268,https:/,https,all_to_the_bottom.com,/frozen_fish/,/frozen_fish,eel/,
24269,https:/,https,all_to_the_bottom.com,/,NaN,frozen_fish/,
24270,https:/,https,all_to_the_bottom.com,/frozen_fish/,/frozen_fish,eel/,
24271,https:/,https,all_to_the_bottom.com,/,NaN,frozen_fish/,
24272,https:/,https,all_to_the_bottom.com,/frozen_fish/,/frozen_fish,carp/,
24273,https:/,https,all_to_the_bottom.com,/,NaN,frozen_fish/,
24274,https:/,https,all_to_the_bottom.com,/frozen_fish/,/frozen_fish,carp/,
24275,https:/,https,all_to_the_bottom.com,/,NaN,cart,?goods_id=13&amount=1&cart_id=9790
24276,https:/,https,all_to_the_bottom.com,/,NaN,semi_manufactures/,
24277,https:/,https,all_to_the_bottom.com,/semi_manufactures/,/semi_manufactures,salmon_cutlet/,
24278,https:/,https,all_to_the_bottom.com,/,NaN,fresh_fish/,
24279,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24280,https:/,https,all_to_the_bottom.com,/,NaN,canned_food/,
24281,https:/,https,all_to_the_bottom.com,/canned_food/,/canned_food,pate_of_tuna/,
24282,https:/,https,all_to_the_bottom.com,/,NaN,pay,?user_id=81416246280&cart_id=9790
24283,https:/,https,all_to_the_bottom.com,/,NaN,success_pay_9790/,

In [189]:
from urllib.parse import urlsplit

In [194]:
t=urlsplit('https://all_to_the_bottom.com/canned_food/pate_of_tuna/')
t

SplitResult(scheme='https', netloc='all_to_the_bottom.com', path='/canned_food/pate_of_tuna/', query='', fragment='')

In [174]:
t.path.split('/')

['', 'canned_food', 'pate_of_tuna', '']

In [180]:
t,q=df.url.apply(lambda x: parse )

'/canned_food/pate_of_tuna/'

In [214]:
def parse(x):
    _,_,path,query,_=urlsplit(x)
    return path,query

In [219]:
pd.DataFrame([parse(i) for i in df.url])

                                0                                 1
0                               /
1                    /fresh_fish/
2                               /
3                   /canned_food/
4                               /
...                           ...                               ...
24279                           /
24280               /canned_food/
24281  /canned_food/pate_of_tuna/
24282                        /pay  user_id=81416246280&cart_id=9790
24283          /success_pay_9790/

[24284 rows x 2 columns]

In [223]:
r'/pat'.replace('/','')

'pat'

In [ ]:
len()

In [205]:
q=pd.DataFrame(index=df.index,columns=['path','query'])

In [209]:
q

      path query
0      NaN   NaN
1      NaN   NaN
2      NaN   NaN
3      NaN   NaN
4      NaN   NaN
...    ...   ...
24279  NaN   NaN
24280  NaN   NaN
24281  NaN   NaN
24282  NaN   NaN
24283  NaN   NaN

[24284 rows x 2 columns]

In [7]:
df.hash.nunique()

24284

In [8]:
df.shape

(24284, 7)